@import "../../../../styles.scss";

section {
    border-top: 1px solid $grey;
}

mat-list {
    padding: 0;
}

mat-list-item {
    border-bottom: 1px solid $grey;
    padding-left: 1rem !important;
    cursor: pointer;
}

mat-list-item:hover, mat-list-item:active {
    background-color: $grey;
}