<span class="section-title font-3">Transactions History</span>
<div class="transaction-box">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab *ngFor="let item of AccountDictTransactionArray | keyvalue" label="{{ accDict[item.key] }}" class="font-4">
            <table mat-table [dataSource]="item.value">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-4 date-width"> Date </th>
                    <td mat-cell *matCellDef="let transaction" [ngClass]="{'red': transaction.type == 2 }"> {{ transaction._createdAt | customDate: "MM/dd/yyyy" }} </td>
                </ng-container>
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-4 time-width"> Time </th>
                    <td mat-cell *matCellDef="let transaction" [ngClass]="{'red': transaction.type == 2 }"> {{ transaction._createdAt | customDate: "h:mm a" }} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-4 desc-width"> Description </th>
                    <td mat-cell *matCellDef="let transaction" [ngClass]="{'red': transaction.type == 2 }"> {{ trDict[transaction.type] }} </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef class="font-4 value-width"> Value </th>
                    <td mat-cell *matCellDef="let transaction" [ngClass]="{'red': transaction.type == 2 }"> {{ transaction.value }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            </table>
        </mat-tab>
    </mat-tab-group>
</div>
