.transaction-box {
    padding: 1rem;
    margin-bottom: 2rem;
}

mat-tab {
    padding-top: 1rem;
}

table {
    width: 100%;
    min-width: 600px;
}

.date-width, .time-width, .value-width {
    width: 20%;
    min-width: 120px;
}

.desc-width {
    width: 40%;
    min-width: 240px;
}

.red {
    color: red;
}