@import "../../../styles.scss";

.login-links-box {
    padding: $login-internal-padding;
    width: $login-internal-width;
    margin: $login-internal-margin;
    margin-top: 50px;

    span {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
    }

    span:hover {
        color: $dark;
        text-decoration: underline $dark solid;
    }
}