<app-header-responsive></app-header-responsive>

<div class="login-container page-content">

	<span class="login-title">Login</span>

	<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
		<mat-form-field appearance="legacy">
			<input matInput formControlName="email" placeholder="Email" type="email">
			<mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">Invalid email</mat-error>
		</mat-form-field>
		
		<mat-form-field appearance="legacy">
			<input matInput formControlName="passwd" placeholder="Password" type="password">
			<mat-error *ngIf="f.passwd.hasError('required')">Invalid Password</mat-error>
		</mat-form-field>
	
		<br>
	
		<button mat-button type="submit">Login</button>
	</form>

</div>