@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// My Custom pallete
$mat-iago-dark-blue: (
    50 : #e3ebf3,
    100 : #b8cde1,
    200 : #89abcd,
    300 : #5a89b9,
    400 : #3670aa,
    500 : #13579b,
    600 : #114f93,
    700 : #0e4689,
    800 : #0b3c7f,
    900 : #062c6d,
    A100 : #9dbbff,
    A200 : #6a97ff,
    A400 : #3773ff,
    A700 : #1e61ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$components-app-primary: mat-palette($mat-iago-dark-blue);
$components-app-accent:  mat-palette($mat-blue);

// The warn palette is optional (defaults to red).
$components-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$components-theme: mat-light-theme($components-app-primary, $components-app-accent, $components-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($components-theme);