@import '../../../styles.scss';

.cover {
    background-image: url(../../../assets/pic13.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    margin: 0 !important;
    height: 400px !important;

    .cover-section {
        padding: 3rem;

        span {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
        }

        span.mobile {
            display: none;
        }

        .mr-v-1 {
            margin: 2rem 0;
        }

        .mr-v-2 {
            margin: 1rem 0;
        }

        .w-60 {
            width: 60%;
        }
    }

}

.box {
    background: #ffffff;
    width: 100vw;
    margin: 1.5rem 0;

    .section-title {
        display: block;
        padding: 0.25rem 0rem;
        border-bottom: 2px solid $grey;
        width: 100%;
        font-size: 1.25rem;
        color: #000;
    }
    
    .checking-section {
        background: $dark;
        padding: 3rem;
    }
    
    .savings-section {
        background: $dark;
        padding: 3rem;
    }
    
    #checking {
        span {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
        }
    }
    
    #savings {
        span {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
        }
    }
}

.box2 {
    background: $grey;
    height: 300px;
    width: 100vw;
    position: relative;

    .content-sec {
        position: relative;
        padding: 3rem;
        display: block;

        span {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
        }
    }

}


@media (max-width: 800px) {
    .cover {
        .cover-section {
            padding: 1rem;

            span.web {
                display: none;
            }

            span.mobile {
                display: block;
            }

            span.font-4 {
                margin: 1rem 0;
            }
        }
    }

    .box {
        .page-content {
            .content {
                .div40 {
                    min-width: 10px;
                    width: 90%;
                    margin: 0 auto;
                    display: block;
                }

                .div60 {
                    display: none;
                }
            }
        }
    }

    .box2 {
        .page-content {
            .content-sec {
                .font-2 {
                    line-height: 2rem;
                }
            }
        }
    }
    
}