@import "../../../../styles.scss";

form {
    display: block;
    padding: 3rem;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 70%;
    min-width: 200px;

    mat-form-field {
        margin-bottom: 1rem;
        margin-right: 3rem;
    }
}

.sub-button {
    width: 30%;
    max-width: 200px;
    min-width: 100px;
    display: block !important;
    color: #ffffff;
    background: $primary;
}

@media(max-width: 800px) {
    .sub-button {
        width: 60%;
    }
}