<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
        
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Summary Section -->
        <app-summary #summary></app-summary>
            
        <!-- Balance Section -->
        <app-balance #balances></app-balance>
        
        <!-- Transaction History Section -->
        <app-transaction-history #transactions></app-transaction-history>

    </mat-sidenav-content>
</mat-sidenav-container>