@import "../../../styles.scss";

mat-sidenav-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 30px 0;
    overflow: auto;

    mat-sidenav {
        width: 30%;
        max-width: 400px;
    }

    mat-sidenav-content {
        overflow-x: hidden;
        overflow-y: hidden;
    }

}

.new-account {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
}