<app-header-responsive [page]="'dashboard'"></app-header-responsive>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="'side'" opened>
        <!-- <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
        <app-side-menu-profile></app-side-menu-profile>
        <app-side-menu-options></app-side-menu-options>

        <button mat-raised-button color="primary" class="new-account">Create a new Account</button>

    </mat-sidenav>

    <mat-sidenav-content>
        
        <router-outlet></router-outlet>

    </mat-sidenav-content>
    
</mat-sidenav-container>

<app-footer-responsive></app-footer-responsive>