@import "../../../../styles.scss";

.flex-balance {
    display: flex;
    justify-content: start;
    padding: 1rem;
    overflow-x: auto;
}

.account {
    border-radius: 12px;
    border: 3px solid $grey;
    padding: 1rem 1.5rem;
    margin: 2rem;
    line-height: 1.5;

    .value {
        margin-bottom: 0.5rem;
        display: block;
        text-align: center;
    }

    .acc-type, .acc-number {
        display: block;
        text-align: center;
    }

    .acc-number {
        color: #a5a5a5;
        font-weight: bold;
    }

}

.account * {
    cursor: default;
}