@import "../../../../styles.scss";

.flex-balance {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    padding: 1rem;
}

.account {
    border-radius: 12px;
    border: 3px solid $grey;
    padding: 1rem;
    margin: 2rem;
    width: 7rem;
    height: 5rem;
    line-height: 1.5;

    .value {
        margin-bottom: 0.5rem;
        display: block;
        text-align: center;
    }

    .acc-type {
        display: block;
        text-align: center;
    }

}

.account * {
    cursor: default;
}