@import '../../../styles.scss';

footer {
    display: block;
    width: 100%;
    bottom: 0;
    padding: 2rem 0;
    background-color: $dark;
    color: #fff;
    
    .footer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-box-col {
        align-self: center;
        display: block;
        span {
            text-align: center;
            display: block;
            margin-top: 0.5rem;
        }
    }

    .title-footer {
        font-size: 1.25rem;
        display: inline-block;
    }
}

@media(max-width: 800px) {

    footer {
        padding: 0.5rem 0;
    }

    .footer-box {
        flex-direction: column;
    }

    span {
        text-align: center;
        display: block;
        margin-top: 0.5rem;
    }
}

