.content {
    align-items: center;
}

.account-desc {
    padding: 2rem;
}

.btn-sec {
    padding: 2rem;
    align-self: center;
}

@media(max-width: 800px) {
    .account-desc {
        min-width: 100px !important;
        width: 90% !important;
    }
}