@import '../../../styles.scss';

mat-toolbar {
	overflow: hidden;
	color: #ffffff;
	position: sticky;
	top: -1px;
	z-index: 100;

	* {
		z-index: 10;
	}
}

.header-content {
	position: relative;
	width: 100%;
	max-width: $content-width;
	margin: 0 auto;

	.toggle-title {
		display: inline-block;
		width: 50%;

		.toggle-btn {
			display: none;
		}
	
		.title {
			cursor: default;
		}
	}

	.items-box {
		display: inline-block;
		width: 50%;
		text-align: right;
	
		.items2 {
			font-size: 1rem;
			display: inline-block;
			margin: 5px 20px;
			position: relative;
			cursor: pointer;
		}
	
		.items2:after {
			border-radius:0em;
			border-top: .1em solid #ffffff;
			content: "";
			position: absolute;
			right: 100%;
			bottom: .14em;
			left: 0;
			transition: right .4s cubic-bezier(0,.5,0,1);
		  }
		  
		  .items2:hover:after {
			border-radius: 1em;
			right: 0;
		  }
	}
}

@media(max-width: 800px) {

	mat-toolbar {
		padding: 0px;;
	}


	.header-content {
		padding: 0;

		.toggle-title {
			
			.toggle-btn {
				display: inline-block;
			}

			.title {
				position: absolute;
				left: calc(50% - 55px);
			}
		}

		.items-box {
			display: none;
		}

		.toggle-items mat-toolbar-row:hover {
			background-color: $primary;
			cursor: pointer;
		}
	}

	.header-content.add-padding {
		padding-top: 10px;
	}
}